DB_HOST=localhost
DB_NAME=licencas
DB_USER=root
DB_PASS=
API_HEROSMS=1db85Af88f65e2840754836202520ee6
EMAIL_HOST=mail.seudominio.com
EMAIL_USER=admin@seudominio.com
EMAIL_PASS=sua_senha_forte_do_email
API_TOKEN=dollfinn_secret_token_123
